<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Restaurant Apps Starter Project</title>
</head>

<a href="#maincontent" class="skip-link">Skip to content</a>
<nav class="sticky navbar">
    <div class="brand">
        <a href="#top" class="nav__link"> <span class="logo"> It</span></a>
    </div>

    <label class="nav__burger" id="nav__burger">
        <a href="#">
            <i></i><i></i><i></i>
        </a>
        </label>

    <div class="nav" id="drawer">
        <ul class="nav__list">
            <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Favorite</a></li>
            <li class="nav__item"><a href="https://www.linkedin.com/in/muhsholihin29/" class="nav__link" target="_blank">About Us</a></li>
        </ul>
    </div>

</nav>

<body>

    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">A Myriad of Delectable Tastes</h1>
            <p class="hero__tagline">With several international chefs on board, EatIt is home to a rich variety of tantalising global cuisines.</p>
        </div>
    </div>
    <main id="maincontent">
        <section class="content">
            <div class="latest">
                <h2 class="explore__label">Explore Restaurant</h2>
                <div class="restaurants" id="restaurants">

                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright © 2021 - Eat it Apps</p>
    </footer>
</body>

</html>