<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#FA9022"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192-no-transparent.png">
    <title>Restaurant Apps Starter Project</title>
    <link rel="icon" href="icon.png">
    <link rel="manifest" href="manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<a href="#maincontent" class="skip-link">Skip to content</a>
<nav class="sticky navbar">
    <div class="brand">
        <a href="#top" class="nav__link"> <span class="logo"> It</span></a>
    </div>

    <label class="nav__burger" id="nav__burger">
        <a href="#">
            <i></i><i></i><i></i>
        </a>
        </label>

    <div class="nav" id="drawer">
        <ul class="nav__list">
            <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="#/like" class="nav__link">Favorite</a></li>
            <li class="nav__item"><a href="https://www.linkedin.com/in/muhsholihin29/" class="nav__link" target="_blank">About Us</a></li>
        </ul>
    </div>

</nav>

<body>

    
    <main id="mainContent">
        
    </main>
    <footer>
        <p>Copyright © 2021 - Eat it Apps</p>
    </footer>
</body>

</html>