:root {
    --primary: rgba(37, 37, 37, 1.0);
    --secondary: #FA9022;
    --shades: #f7f7fb;
}
.restaurant-content {
	max-width: 100%;
    background-color: var(--shades);
    margin-bottom: 2.5rem;
    padding: 2rem 0;
	margin-right: auto;
    margin-left: auto;
}

.restaurant-content .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.restaurant-content .container .col-image {
    display: flex;
    height: 300px;
}

.restaurant-content .container .col-image img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 #39393a1a;    
}

.restaurant-content .container .col-info {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.restaurant-content .container .col-info h1 {
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;    
}

.restaurant-content .container .col-info .categories-info {
    display: inline-block;
}

.restaurant-content .container .col-info .categories-info span {
    color: #fff;
    font-size: 10px;
    padding: 0.2rem 1rem;
    border-radius: 4px;
    background-color: var(--secondary);
}

.restaurant-content .container .col-info .basic-info {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 80px 100px auto;
    font-size: 12px;
}

.restaurant-content .container .col-info .description-info {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #6d6d6d;
    margin-top: 20px;
    margin-bottom: 0;
    max-height: 10em;
    line-height: 1.7em;
}

.restaurant-content .container .col-menu-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.restaurant-content .container .col-menu-info div {
    margin-left: .5rem;
    margin-right: .5rem;
}

.restaurant-content .container .col-menu-info h4 {
    font-size: 1rem;
    margin-bottom: 8px;
}

.restaurant-content .container .col-menu-info p {
    font-size: 0.8rem;
    margin-bottom: 2px;
}

.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: var(--secondary);
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restaurant-review .main-item {
	
	background-color: var(--shades);
	border-radius: 10px;
	box-shadow: 0 5px 10px 0 #3336451a;
	margin-bottom: 15px;
}

.restaurant-review .main-item {
	padding: 20px 15px;
}

.restaurant-review .main-item p {	
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 5.6em;
	line-height: 1.9em;
	color: #6b6b6b;
	margin-bottom: 0;
}

.restaurant-review .main-item h4 {
	margin-top: 8px;
	margin-bottom: 0px;
}

.restaurant-review .main-item p.date {
	font-size: 10px;
	font-style: italic;
}

.restaurant-review .main-item p.note {
    font-size: 12px;
	margin-top: 5px;
}

main .form-review .main-form {
	padding: 1.5rem;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 10px 0 #3336451a;
	margin-bottom: 16px;
}

main .form-review .main-form .col-form {
	width: 100%;
	display: grid;
	margin-bottom: 16px;
}

main .form-review .main-form .col-form label {
	margin-bottom: 10px;
}

main .form-review .main-form .col-form input,
    main .form-review .main-form .col-form textarea {
	width: auto;
}

input, textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #919090;
	border-radius: 5px;
	outline-color: var(--secondary);
	font-family: 'Source Code Pro', monospace;
}